body{
    background-color: rgb(114, 114, 114);
}
nav{
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
    border: 3px solid #000;
    color: white;
    font-family: arial;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}
.clicavel:hover{
    font-size: 15pt;
    cursor: pointer;
}
.logo{
    width: 40px;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
}
.logo:hover{
    width: 400px;
    height: 400px;
    padding-left: 10px;
    padding-top: 10px;
}
.banner{
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,1);
}
.imgprodutos{
    width: 280px;
    height: 280px;
    border-radius: 15px;
    padding-top: 7px;
}
.imgprodutos:hover{
    width: 290px;
    height: 290px;
}
.produtos{
    width: 300px;
    height: 350px;
    border: 3px solid #000;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,15);
}
.visualizar{
    background-color: rgb(46, 46, 109);
    color: white;
    font:normal 20pt arial;
    border-radius: 15px;
    width: 250px;
}
.visualizar:hover{
    font-size: 25pt;
}
td{
    padding: 40px;
}
@media(max-width: 900px){
    .banner{
        height: 200px;
    }
    td{
        padding: 25px;
    }
}
@media(max-width: 700px){
    td{
        display: block;
    }
    .logo:hover{
        width: 150px;
        height: 150px;
    }
}
@media(max-width: 500px){
    .banner{
        height: 100px;
    }
}